openapi: 3.0.3
info:
  title: Soccer Club Management API
  version: "1.0"
  description: >
    Backend API for the Soccer Club platform (Django/DRF, contract-compatible
    with the original NestJS backend). Endpoints hang off the server root — there
    is NO /api prefix. Responses are returned directly (no {success,data}
    wrapper). IDs are 24-char hex strings (`_id`). Auth is JWT Bearer.


    Roles (high→low): SUPER_ADMIN > CLUB_OWNER > TECH_DIRECTOR > COORDINATOR >
    COACH > PLAYER = PARENT. The "Roles" note on each endpoint lists who may call
    it; where it says "any authenticated", the service further restricts by
    club / relationship / hierarchy.

servers:
  - url: https://soccer-api.athlongoapp.com
    description: Production

tags:
  - name: Auth
  - name: Users
  - name: Clubs
  - name: Age Groups
  - name: Teams
  - name: Events
  - name: Performance
  - name: Connections
  - name: Dashboard
  - name: Health

security:
  - bearerAuth: []

paths:
  /:
    get:
      tags: [Health]
      summary: Health check (public)
      security: []
      responses:
        "200":
          description: Plain text "Hello World!"
          content:
            text/plain:
              schema: { type: string, example: "Hello World!" }

  # ─────────────────────────── Auth ───────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, example: admin@soccer.com }
                password: { type: string, example: Admin123! }
      responses:
        "200":
          description: Tokens + user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuthResponse' }
        "403":
          description: First login — password reset required
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Password reset required on first login }
                  requiresPasswordReset: { type: boolean, example: true }
                  resetToken: { type: string }
        "401":
          description: Invalid credentials
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error4xx' }

  /auth/first-login-reset:
    post:
      tags: [Auth]
      summary: Complete first login (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [resetToken, newPassword]
              properties:
                resetToken: { type: string }
                newPassword: { type: string, example: NewPass123! }
      responses:
        "200":
          description: Tokens + user
          content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } }
        "401":
          description: Invalid or expired reset token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh tokens (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refreshToken]
              properties:
                refreshToken: { type: string }
      responses:
        "200":
          description: New tokens + user (user.clubId is a populated object here)
          content: { application/json: { schema: { $ref: '#/components/schemas/AuthResponse' } } }
        "401":
          description: Invalid or expired refresh token
          content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } }

  /auth/forgot-password:
    post:
      tags: [Auth]
      summary: Request a password reset email (public, anti-enumeration)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties: { email: { type: string, format: email } }
      responses:
        "200":
          description: Generic message (always)
          content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } }

  /auth/reset-password:
    post:
      tags: [Auth]
      summary: Reset password with emailed token (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, newPassword]
              properties:
                token: { type: string }
                newPassword: { type: string }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        "401": { description: Invalid or expired reset token, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /auth/change-password:
    post:
      tags: [Auth]
      summary: Change password (auth required)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [oldPassword, newPassword]
              properties:
                oldPassword: { type: string }
                newPassword: { type: string }
      responses:
        "200": { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        "400": { description: Incorrect old password, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
        "401": { description: Unauthorized, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  # ─────────────────────────── Users ───────────────────────────
  /users/invite:
    post:
      tags: [Users]
      summary: Invite a user (auth; caller must outrank the new role)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, role]
              properties:
                name: { type: string }
                email: { type: string, format: email }
                role: { $ref: '#/components/schemas/Role' }
                clubId: { type: string, description: Ignored unless caller is SUPER_ADMIN }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Invitation sent successfully }
                  userId: { type: string }
        "409": { description: Email exists / invalid clubId, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
        "403": { description: Insufficient hierarchy, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /users/{id}/role:
    patch:
      tags: [Users]
      summary: Update a user's role (auth; two-sided hierarchy check)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role]
              properties: { role: { $ref: '#/components/schemas/Role' } }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Role updated successfully }
                  user:
                    type: object
                    properties:
                      id: { type: string }
                      name: { type: string }
                      newRole: { $ref: '#/components/schemas/Role' }
        "409": { description: "User not found (409, not 404)", content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
        "403": { description: Cross-club / insufficient authority, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /users/me:
    get:
      tags: [Users]
      summary: Current profile + role context (auth)
      responses:
        "200":
          description: Profile with populated clubId and role-specific context
          content: { application/json: { schema: { $ref: '#/components/schemas/UserProfile' } } }
        "404": { description: User not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
    patch:
      tags: [Users]
      summary: Update own profile (auth; multipart/form-data)
      requestBody:
        required: false
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name: { type: string }
                email: { type: string, format: email }
                password: { type: string }
                profileImage: { type: string, format: binary }
      responses:
        "200":
          description: Updated user (clubId raw string, includes __v)
          content: { application/json: { schema: { $ref: '#/components/schemas/UserFull' } } }

  /users:
    get:
      tags: [Users]
      summary: List users (auth; club + hierarchy scoped)
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 10 } }
        - { name: role, in: query, schema: { $ref: '#/components/schemas/Role' } }
        - { name: clubId, in: query, schema: { type: string }, description: Honored only for SUPER_ADMIN }
      responses:
        "200":
          description: Paginated list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { type: array, items: { $ref: '#/components/schemas/UserFull' } }
                  meta:
                    type: object
                    properties:
                      total: { type: integer }
                      page: { type: integer }
                      lastPage: { type: integer }

  # ─────────────────────────── Clubs ───────────────────────────
  /clubs:
    post:
      tags: [Clubs]
      summary: Create club + owner (SUPER_ADMIN)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, ownerName, ownerEmail]
              properties:
                name: { type: string }
                ownerName: { type: string }
                ownerEmail: { type: string, format: email }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
                  club: { $ref: '#/components/schemas/Club' }
        "500": { description: Rolled back, content: { application/json: { schema: { $ref: '#/components/schemas/Error500' } } } }
    get:
      tags: [Clubs]
      summary: List all clubs (SUPER_ADMIN)
      responses:
        "200":
          description: Clubs with owner + member count
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ClubWithOwner' } }

  /clubs/my-club:
    get:
      tags: [Clubs]
      summary: Caller's own club (any auth)
      responses:
        "200": { description: Club, content: { application/json: { schema: { $ref: '#/components/schemas/Club' } } } }
        "400": { description: Caller has no club (e.g. super admin), content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /clubs/{id}:
    get:
      tags: [Clubs]
      summary: Club details (any auth; own club unless super admin)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      responses:
        "200": { description: Club with owner (incl. createdAt) + member count, content: { application/json: { schema: { $ref: '#/components/schemas/ClubWithOwner' } } } }
        "403": { description: Forbidden, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
        "404": { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  # ─────────────────────────── Age Groups ───────────────────────────
  /age-groups:
    post:
      tags: [Age Groups]
      summary: Create age group (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string, example: U-12 }
                description: { type: string }
                coordinatorId: { type: string }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/AgeGroup' } } } }
        "409": { description: Duplicate name in club, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
    get:
      tags: [Age Groups]
      summary: List age groups with nested teams (any auth)
      responses:
        "200":
          description: Age groups
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/AgeGroupWithTeams' } }

  /age-groups/{id}:
    delete:
      tags: [Age Groups]
      summary: Delete age group (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      responses:
        "200": { description: Deleted, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        "404": { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  # ─────────────────────────── Teams ───────────────────────────
  /teams:
    post:
      tags: [Teams]
      summary: Create team (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR, COORDINATOR)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, ageGroupId]
              properties:
                name: { type: string }
                ageGroupId: { type: string }
                coachId: { type: string }
      responses:
        "201": { description: Created (raw, unpopulated), content: { application/json: { schema: { $ref: '#/components/schemas/TeamRaw' } } } }
        "404": { description: Age group not in your club, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
    get:
      tags: [Teams]
      summary: List teams (any auth; fully populated)
      responses:
        "200":
          description: Teams
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/TeamPopulated' } }

  /teams/{id}:
    delete:
      tags: [Teams]
      summary: Delete team (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      responses:
        "200": { description: Deleted, content: { application/json: { schema: { $ref: '#/components/schemas/Message' } } } }
        "404": { description: Not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /teams/{id}/roster:
    patch:
      tags: [Teams]
      summary: Add/remove a roster player (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR, COORDINATOR, COACH)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [playerId, action]
              properties:
                playerId: { type: string }
                action: { type: string, enum: [add, remove] }
      responses:
        "200":
          description: Updated roster (message says "removeed" on remove — intentional)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: Player added successfully }
                  roster: { type: array, items: { type: string } }
        "409": { description: Player already on roster, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  # ─────────────────────────── Events ───────────────────────────
  /events:
    post:
      tags: [Events]
      summary: Create event (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR, COORDINATOR, COACH)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, description, date, teamId]
              properties:
                title: { type: string }
                description: { type: string }
                date: { type: string, format: date-time, example: "2030-01-01T10:00:00.000Z" }
                teamId: { type: string }
      responses:
        "201": { description: Created (raw), content: { application/json: { schema: { $ref: '#/components/schemas/EventRaw' } } } }
        "403": { description: Not your team, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /events/team/{teamId}:
    get:
      tags: [Events]
      summary: Team schedule, ascending by date (any auth)
      parameters:
        - { name: teamId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Events (createdBy populated)
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/EventPopulated' } }

  # ─────────────────────────── Performance ───────────────────────────
  /performance/{playerId}:
    put:
      tags: [Performance]
      summary: Upsert ratings (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR, COORDINATOR, COACH)
      parameters:
        - { name: playerId, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RatingInput' }
      responses:
        "200": { description: Upserted, content: { application/json: { schema: { $ref: '#/components/schemas/Performance' } } } }
        "400": { description: Target not a player / invalid rating, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
        "403": { description: Not on your roster/age group, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }
    get:
      tags: [Performance]
      summary: Get a player's ratings (any auth; self/child/staff restricted)
      parameters:
        - { name: playerId, in: path, required: true, schema: { type: string } }
      responses:
        "200":
          description: Ratings (or a zeroed default if none exist)
          content:
            application/json:
              schema:
                oneOf:
                  - { $ref: '#/components/schemas/Performance' }
                  - { $ref: '#/components/schemas/PerformanceDefault' }
        "403": { description: Not permitted to view, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /performance/team/{teamId}/report:
    get:
      tags: [Performance]
      summary: Team report (SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR, COORDINATOR, COACH)
      parameters:
        - { name: teamId, in: path, required: true, schema: { type: string } }
      responses:
        "200": { description: Averages, top performers, individual reports, content: { application/json: { schema: { $ref: '#/components/schemas/TeamReport' } } } }
        "404": { description: Team not found, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  # ─────────────────────────── Connections ───────────────────────────
  /connections/request:
    post:
      tags: [Connections]
      summary: Create a parent↔player link request (any auth)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [parentId, childId]
              properties:
                parentId: { type: string }
                childId: { type: string }
      responses:
        "201": { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/ConnectionRaw' } } } }
        "409": { description: Already exists, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /connections/pending:
    get:
      tags: [Connections]
      summary: Pending requests for the caller (any auth)
      responses:
        "200":
          description: Requests (populated). Staff currently receive an empty array.
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/ConnectionPopulated' } }

  /connections/{id}/approve:
    patch:
      tags: [Connections]
      summary: Approve / advance a request (any auth; parent or child)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      responses:
        "200": { description: Updated request, content: { application/json: { schema: { $ref: '#/components/schemas/ConnectionRaw' } } } }

  /connections/{id}/reject:
    patch:
      tags: [Connections]
      summary: Reject a request (any auth; same club)
      parameters: [ { $ref: '#/components/parameters/PathId' } ]
      responses:
        "200": { description: Updated request (REJECTED), content: { application/json: { schema: { $ref: '#/components/schemas/ConnectionRaw' } } } }

  /connections/my-children:
    get:
      tags: [Connections]
      summary: A parent's children with team/performance/schedule (PARENT only)
      responses:
        "200":
          description: Children
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    player: { $ref: '#/components/schemas/UserMini' }
                    team:
                      type: object
                      nullable: true
                      properties: { id: { type: string }, name: { type: string } }
                    performance: { $ref: '#/components/schemas/Performance' }
                    upcomingSchedules: { type: array, items: { $ref: '#/components/schemas/EventRaw' } }
        "403": { description: Not a parent, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  /connections/my-parents:
    get:
      tags: [Connections]
      summary: A player's linked parents (PLAYER only)
      responses:
        "200":
          description: Parents
          content:
            application/json:
              schema: { type: array, items: { $ref: '#/components/schemas/UserMini' } }
        "403": { description: Not a player, content: { application/json: { schema: { $ref: '#/components/schemas/Error4xx' } } } }

  # ─────────────────────────── Dashboard ───────────────────────────
  /dashboard/super-admin:
    get:
      tags: [Dashboard]
      summary: Platform stats (SUPER_ADMIN)
      responses:
        "200":
          description: Overview + role breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  overview:
                    type: object
                    properties:
                      totalClubs: { type: integer }
                      totalTeams: { type: integer }
                      totalUsers: { type: integer }
                  roleBreakdown:
                    type: object
                    additionalProperties: { type: integer }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string, description: 24-char hex ObjectId }

  schemas:
    Role:
      type: string
      enum: [SUPER_ADMIN, CLUB_OWNER, TECH_DIRECTOR, COORDINATOR, COACH, PLAYER, PARENT]

    Message:
      type: object
      properties: { message: { type: string } }

    Error4xx:
      type: object
      properties:
        statusCode: { type: integer, example: 403 }
        message:
          oneOf:
            - { type: string }
            - { type: array, items: { type: string } }
        error: { type: string, example: Forbidden }

    Error500:
      type: object
      properties:
        statusCode: { type: integer, example: 500 }
        timestamp: { type: string, format: date-time }
        path: { type: string }
        message: { type: string, example: Internal server error }

    AuthUser:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string }
        role: { $ref: '#/components/schemas/Role' }
        profileImage: { type: string, nullable: true }
        clubId:
          description: Plain string on login/first-login (omitted for super admin); populated object on /auth/refresh.
          oneOf:
            - { type: string }
            - type: object
              properties: { _id: { type: string }, name: { type: string } }

    AuthResponse:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        user: { $ref: '#/components/schemas/AuthUser' }

    UserMini:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        email: { type: string }
        profileImage: { type: string, nullable: true }

    UserFull:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        email: { type: string }
        profileImage: { type: string, nullable: true }
        role: { $ref: '#/components/schemas/Role' }
        clubId: { type: string, nullable: true }
        isFirstLogin: { type: boolean }
        childPlayerIds: { type: array, items: { type: string } }
        parentIds: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    UserProfile:
      description: GET /users/me — clubId populated, includes role-specific context, no __v.
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        email: { type: string }
        profileImage: { type: string, nullable: true, description: Key omitted when unset }
        role: { $ref: '#/components/schemas/Role' }
        isFirstLogin: { type: boolean }
        childPlayerIds: { type: array, items: { type: string } }
        parentIds: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        clubId:
          type: object
          nullable: true
          properties: { _id: { type: string }, name: { type: string } }
        context:
          type: object
          description: "PLAYER: {teamId,teamName,ageGroupId} or {}. COACH/COORDINATOR/others: {} (see docs)."

    Club:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer, description: Present on create; absent on my-club }

    ClubOwner:
      type: object
      nullable: true
      properties:
        id: { type: string }
        name: { type: string }
        email: { type: string }
        profileImage: { type: string, nullable: true }
        createdAt: { type: string, format: date-time, description: Present on GET /clubs/:id only }
        isDefaultPassword: { type: boolean }

    ClubWithOwner:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        isActive: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        owner: { $ref: '#/components/schemas/ClubOwner' }
        totalMembers: { type: integer }

    AgeGroup:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        description: { type: string }
        clubId: { type: string }
        coordinatorId: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    AgeGroupWithTeams:
      allOf:
        - $ref: '#/components/schemas/AgeGroup'
        - type: object
          properties:
            coordinatorId:
              type: object
              nullable: true
              properties:
                _id: { type: string }
                name: { type: string }
                email: { type: string }
                profileImage: { type: string }
            totalTeams: { type: integer }
            teams:
              type: array
              items:
                type: object
                properties:
                  _id: { type: string }
                  name: { type: string }
                  coachId:
                    type: object
                    nullable: true
                    properties: { _id: { type: string }, name: { type: string } }
                  roster: { type: array, items: { type: string } }
                  ageGroupId: { type: string }

    TeamRaw:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        ageGroupId: { type: string }
        coachId: { type: string }
        clubId: { type: string }
        roster: { type: array, items: { type: string } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    TeamPopulated:
      type: object
      properties:
        _id: { type: string }
        name: { type: string }
        clubId: { type: string }
        ageGroupId:
          type: object
          properties: { _id: { type: string }, name: { type: string } }
        coachId: { $ref: '#/components/schemas/UserMini' }
        roster:
          type: array
          items:
            type: object
            properties:
              _id: { type: string }
              name: { type: string }
              profileImage: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    EventRaw:
      type: object
      properties:
        _id: { type: string }
        title: { type: string }
        description: { type: string }
        date: { type: string, format: date-time }
        teamId: { type: string }
        clubId: { type: string }
        createdBy: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    EventPopulated:
      allOf:
        - $ref: '#/components/schemas/EventRaw'
        - type: object
          properties:
            createdBy:
              type: object
              properties:
                _id: { type: string }
                name: { type: string }
                profileImage: { type: string, nullable: true }

    RatingInput:
      type: object
      required: [passing, dribbling, shooting, defense, stamina]
      properties:
        passing: { type: integer, minimum: 0, maximum: 100 }
        dribbling: { type: integer, minimum: 0, maximum: 100 }
        shooting: { type: integer, minimum: 0, maximum: 100 }
        defense: { type: integer, minimum: 0, maximum: 100 }
        stamina: { type: integer, minimum: 0, maximum: 100 }

    Performance:
      type: object
      properties:
        _id: { type: string }
        playerId: { type: string }
        clubId: { type: string }
        passing: { type: integer }
        dribbling: { type: integer }
        shooting: { type: integer }
        defense: { type: integer }
        stamina: { type: integer }
        recordedBy: { type: string }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    PerformanceDefault:
      type: object
      properties:
        playerId: { type: string }
        passing: { type: integer, example: 0 }
        dribbling: { type: integer, example: 0 }
        shooting: { type: integer, example: 0 }
        defense: { type: integer, example: 0 }
        stamina: { type: integer, example: 0 }
        recordedBy: { type: string, nullable: true, example: null }

    PlayerReport:
      type: object
      properties:
        playerId: { type: string }
        playerName: { type: string }
        passing: { type: integer }
        dribbling: { type: integer }
        shooting: { type: integer }
        defense: { type: integer }
        stamina: { type: integer }
        overallScore: { type: integer }

    TeamReport:
      type: object
      properties:
        teamId: { type: string }
        teamName: { type: string }
        average:
          type: object
          properties:
            passing: { type: integer }
            dribbling: { type: integer }
            shooting: { type: integer }
            defense: { type: integer }
            stamina: { type: integer }
        topPerformers: { type: array, items: { $ref: '#/components/schemas/PlayerReport' } }
        individualReports: { type: array, items: { $ref: '#/components/schemas/PlayerReport' } }

    ConnectionRaw:
      type: object
      properties:
        _id: { type: string }
        requesterId: { type: string }
        parentId: { type: string }
        childId: { type: string }
        clubId: { type: string }
        status: { type: string, enum: [PENDING, WAITING_ON_PARENT, WAITING_ON_CHILD, APPROVED, REJECTED] }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        __v: { type: integer }

    ConnectionPopulated:
      allOf:
        - $ref: '#/components/schemas/ConnectionRaw'
        - type: object
          properties:
            parentId:
              type: object
              properties: { _id: { type: string }, name: { type: string }, email: { type: string } }
            childId:
              type: object
              properties: { _id: { type: string }, name: { type: string }, email: { type: string } }
